tabs-sml {
    /*
    ion-tabs  ion-tab .tab-button-icon{
        color: #1ebe67 ;
    }
    tab.active {
        color: #1ebe67 ;
    }

    ion-icon.tab-button-icon.icon.icon-md.ion-md-menu {
        color: #DD2C00 !important;
      }


      .tab-item.dash.tab-item-active, .tab-item.dash.active, .tab-item.dash.activated {
        color: #DD2C00 !important;
    }
    
    .tab-item.chat.tab-item-active, .tab-item.chat.active, .tab-item.chat.activated {
        color: #DD2C00 !important;
    }
    
    .tab-item.account.tab-item-active, .tab-item.account.active, .tab-item.account.activated {
        color: #DD2C00 !important;
    }
    */
}
