page-biblestudy-header {
  .study-summary {
    border: 0px;
    text-align: center;
    height: 114px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: color($colors, bg-light);
    background-color: color($colors, bg-homecolor);
  }
  .table-study-head-list {
    padding-top: 15px;
    font-size: 24px;
    font-weight: semi-bold;
  }
}

