<page-menu-header></page-menu-header>
<ion-content id="study-input">

  <!-- <form (ngSubmit)="onClickAddStudy(f.value)" #f="ngForm">
    <ion-item>
      <ion-searchbar type="search" 
          name="book" 
          placeholder="Bible Reference" 
          autocomplete="on" 
          [(ngModel)]="myInput" 
          autocorrect="on"
          required 
          (ionCancel)="onClear()">
      </ion-searchbar>
      <span *ngIf="isDisplay">
        {{ myInput }}
      </span>

      <div>
        <select class="form-control" id="power" required block>
          <option *ngFor="let bl of books" [value]="bl">{{bl}}</option>
        </select>

      </div>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!f.valid"> Add Study</button>

  </form> -->
  <!--
    <ion-select [(ngModel)]="gender" ion-searchbar>
      <ion-option value="f">Female</ion-option>
      <ion-option value="m">Male</ion-option>
    </ion-select>
-->

  <div class="main">

    <ion-toolbar no-padding>
      <!-- GROUP A : ROW 1 -->
      <ion-grid class="study-summary">
        <!-- TABLE HEADER -->
        <div class="table-study-head-list">
          <ion-row>
            <ion-col col-12>
              <div class="text-result">{{studyBible.book}}</div>
            </ion-col>
          </ion-row>
        </div>
        <!-- (END) TABLE HEADER -->
      </ion-grid>
    </ion-toolbar>
    <page-biblestudy-progressbar></page-biblestudy-progressbar>
    <ion-card class="card-full-height">
      <!-- SearchBox -->
      <div>
        <!-- <ion-searchbar 
            type="search" 
            name="book" 
            placeholder="Bible Reference" 
            #parentInput 
            [(ngModel)]="book" 
            autocomplete="on" 
            autocorrect="on"
            required 
            (keyup)="0" 
            (ionCancel)="onClear()">
          </ion-searchbar> -->
        <ion-searchbar type="search" name="book" placeholder="Bible Reference" [(ngModel)]="searchQuerybible" autocomplete="on" autocorrect="on"
          required (keyup)="0" (search)="onSearch()" (ionCancel)="onClear()">
        </ion-searchbar>
      </div>
      <!-- <span *ngIf="isDisplay">
            {{ myInput }}
          </span> -->

      <!-- Button -->
      <div class="button-study">
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col center text-center col-10>
            <button ion-button>
              <ion-icon ios="ios-list" md="md-list" class="icon-color-green"></ion-icon>
              ADD DIVISION
            </button>
          </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
      </div>
    </ion-card>
  </div>

</ion-content>